:root {
    --x-213448: rgba(9, 99, 126, 1);
    --x-088395: rgba(8, 131, 149, 1);
    --x-7ab-2b-2: rgba(122, 178, 178, 1);
    --ebf-4f-6: rgba(235, 244, 246, 1);
    --deep-navy-blue: rgba(12, 44, 85, 1);
}