.home {
    background-color: var(--ebf-4f-6);
    width: 100%;
    min-width: 1920px;
    min-height: 4856px;
    display: flex;
    flex-direction: column;
}

.home .navbar {
    display: inline-flex;
    margin-left: -1px;
    height: 36px;
    width: 1576px;
    align-self: center;
    position: relative;
    margin-top: 34px;
    align-items: center;
    justify-content: center;
    gap: 350px;
    padding: 0px 30px;
}

.home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--x-213448);
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.home .div {
    display: inline-flex;
    align-items: center;
    gap: 61px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--x-213448);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.home .text-wrapper-3 {
    position: relative;
    width: 54px;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--x-213448);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.home .frame {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.home .img {
    position: relative;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
}

.home .instagram {
    position: relative;
    width: 24px;
    height: 24px;
}

.home .hero-section {
    display: inline-flex;
    margin-left: -1px;
    height: 595px;
    width: 1251px;
    align-self: center;
    position: relative;
    margin-top: 80px;
    align-items: center;
    gap: 118px;
}

.home .hero-content {
    display: flex;
    flex-direction: column;
    width: 616px;
    align-items: flex-start;
    gap: 46px;
    position: relative;
}

.home .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--x-213448);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.home .text-wrapper-5 {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--x-213448);
    font-size: 100px;
    letter-spacing: 0;
    line-height: 116px;
}

.home .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--x-213448);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.home .b-resume {
    position: relative;
    width: 164px;
    height: 68px;
}

.home .rectangle {
    position: absolute;
    width: 96.34%;
    height: 89.71%;
    top: 10.29%;
    left: 3.66%;
    background-color: var(--x-7ab-2b-2);
    border-radius: 6px;
}

.home .rectangle-2 {
    position: absolute;
    width: 96.34%;
    height: 89.71%;
    top: 0;
    left: 0;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--x-088395);
}

.home .text-wrapper-7 {
    position: absolute;
    width: 49.39%;
    height: 44.12%;
    top: 23.53%;
    left: 23.17%;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--x-088395);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.home .hero-image {
    position: relative;
    width: 517px;
    height: 565px;
}

.home .group {
    position: absolute;
    top: 374px;
    left: 0;
    width: 104px;
    height: 29px;
    display: flex;
    gap: 16.8px;
}

.home .rectangle-3 {
    margin-top: -0.3px;
    width: 5px;
    height: 30px;
    margin-left: 5.9px;
    background-color: var(--x-088395);
    transform: rotate(24.00deg);
}

.home .rectangle-4 {
    margin-top: -0.3px;
    width: 5px;
    height: 30px;
    background-color: var(--x-088395);
    transform: rotate(24.00deg);
}

.home .frame-3 {
    display: flex;
    flex-direction: column;
    width: 506px;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 11px;
}

.home .group-2 {
    position: relative;
    width: 50px;
    height: 56px;
}

.home .image {
    position: relative;
    width: 506px;
    height: 509px;
}

.home .mask-group {
    position: absolute;
    width: 97.43%;
    height: 96.86%;
    top: 0;
    left: 2.57%;
}

.home .vector {
    position: absolute;
    width: 97.43%;
    height: 96.86%;
    top: 3.14%;
    left: 0;
}

.home .about-section {
    height: 863px;
    width: 1920px;
    align-self: center;
    margin-top: 80px;
    background: linear-gradient(118deg,
            rgba(9, 99, 126, 1) 10%,
            rgba(8, 131, 149, 1) 90%);
    display: flex;
    justify-content: center;
}

.home .frame-4 {
    margin-top: 80px;
    width: 1251px;
    height: 703px;
    margin-left: -1px;
    position: relative;
}

.home .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.home .text-wrapper-8 {
    position: relative;
    align-items: flex-end;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--ebf-4f-6);
    font-size: 100px;
    letter-spacing: 0;
    line-height: 116px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.home .frame-5 {
    display: flex;
    width: 1240px;
    height: 517px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    top: 186px;
    left: 0;
}

.home .group-3 {
    position: relative;
    width: 534.93px;
    height: 517px;
    margin-left: -2.00px;
}

.home .frame-wrapper {
    display: flex;
    flex-direction: column;
    width: 616px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    margin-right: -2.00px;
}

.home .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ebf-4f-6);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 44px;
}

.home .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--ebf-4f-6);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 44px;
}

.home .skiils-section {
    margin-left: 0.4px;
    height: 682px;
    width: 1240.38px;
    align-self: center;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    display: flex;
    position: relative;
}

.home .frame-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-wrapper-10 {
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--deep-navy-blue);
    font-size: 100px;
    letter-spacing: 0;
    line-height: 116px;
    white-space: nowrap;
    display: flex;
    position: relative;
}

.home .frame-8 {
    display: flex;
    flex-wrap: wrap;
    width: 1240.38px;
    align-items: center;
    gap: 24px 24px;
    position: relative;
    flex: 0 0 auto;
}

.home .frame-9 {
    display: flex;
    flex-direction: column;
    width: 397.46px;
    height: 236px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 10px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(118deg,
    rgba(9, 99, 126, 1) 10%,
    rgba(8, 131, 149, 1) 90%);
    box-shadow: 5px 10px 5px #00000040;
}

.home .img-2 {
    position: relative;
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
}

.home .text-wrapper-11 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
}

.home .projects-section {
    height: 816px;
    width: 1920px;
    align-self: center;
    margin-top: 80.0px;
    background: linear-gradient(118deg,
            rgba(9, 99, 126, 1) 10%,
            rgba(8, 131, 149, 1) 90%);
    display: flex;
    justify-content: center;
}

.home .frame-10 {
    display: flex;
    margin-top: 80px;
    width: 1240px;
    height: 656px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.home .frame-11 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.home .frame-12 {
    display: flex;
    flex-wrap: wrap;
    width: 1230px;
    height: 503px;
    align-items: center;
    justify-content: center;
    gap: 0px 80px;
    position: relative;
    margin-bottom: -33.00px;
}

.home .frame-13 {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 425px;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    aspect-ratio: 0.76;
}

.home .div-2 {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: var(--x-088395);
    border-radius: 9999px;
    border: 0px none;
}

.home .i {
    position: absolute;
    top: 16px;
    left: 22px;
    width: 21px;
    height: 32px;
    border: 0px none;
}

.home .apartment {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
}

.home .frame-14 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.home .frame-15 {
    display: flex;
    flex-direction: column;
    width: 190px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.home .frame-16 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -71.00px;
}

.home .text-wrapper-12 {
    position: relative;
    width: 261px;
    margin-top: -1.00px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #09637e;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.home .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #088395;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
}

.home .frame-17 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #09637e;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.home .frame-18 {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 425px;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
}

.home .frame-19 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 342px;
    left: 20px;
}

.home .tools-section {
    height: 500px;
    width: 1250px;
    align-self: center;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 94px;
    display: flex;
    position: relative;
}

.home .frame-20 {
    display: flex;
    align-items: center;
    gap: 220px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .frame-21 {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    aspect-ratio: 1;
}

.home .div-3 {
    position: relative;
    width: 160px;
    height: 160px;
    margin-top: -1.08px;
    aspect-ratio: 1;
    border-radius: 9999px;
    border: 0px none;
    background: linear-gradient(118deg,
            rgba(9, 99, 126, 1) 10%,
            rgba(8, 131, 149, 1) 90%);
    border-color: var(--ebf-4f-6);
    box-shadow: 5px 10px 5px #00000040;

}

.home .sql {
    position: relative;
    width: 46.88%;
    height: 46.88%;
    top: 26.30%;
    left: 26.88%;
    aspect-ratio: 1;
}

.home .excel {
    position: relative;
    width: 46.88%;
    height: 46.88%;
    top: 26.30%;
    left: 26.88%;
    aspect-ratio: 1;
}

.home .frame-22 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -1.08px;
    aspect-ratio: 2.64;
}

.home .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #09637e;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 28px;
    white-space: nowrap;
}

.home .python-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin-top: -1.08px;
    border-radius: 9999px;
    border: 0px none;
    aspect-ratio: 1;
    background: linear-gradient(118deg,
            rgba(9, 99, 126, 1) 10%,
            rgba(8, 131, 149, 1) 90%);
    border-color: var(--ebf-4f-6);
    box-shadow: 5px 10px 5px #00000040;
}

.home .python {
    position: relative;
    width: 46.88%;
    height: 46.88%;
    top: 26.30%;
    left: 26.88%;
    aspect-ratio: 1;
}

.home .vector-2 {
    position: absolute;
    width: 74.08%;
    height: 74.06%;
    top: 0;
    left: 0;
}

.home .vector-3 {
    position: absolute;
    width: 74.26%;
    height: 74.64%;
    top: 25.36%;
    left: 25.74%;
}

.home .contact-section {
    margin-left: -1px;
    height: 540px;
    width: 1149px;
    align-self: center;
    margin-top: 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    display: flex;
    position: relative;
}

.home .frame-23 {
    display: flex;
    align-items: center;
    gap: 49px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .unsplash {
    position: relative;
    width: 440px;
    height: 354px;
    object-fit: cover;
}

.home .frame-24 {
    display: flex;
    flex-direction: column;
    width: 660px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
}

.home .if-you-are-wrapper {
    display: flex;
    height: 270px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.home .if-you-are {
    position: relative;
    width: 640px;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--x-213448);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 50px;
}

.home .frame-25 {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.home .img-3 {
    position: relative;
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
}

.home .instagram-2 {
    position: relative;
    width: 60px;
    height: 60px;
}

.home .footer {
    width: 2560px;
    height: 70.0px;
    margin-top: 160px;
    display: flex;
    background-color: transparent;
    background: linear-gradient(118deg,
            rgba(9, 99, 126, 1) 10%,
            rgba(8, 131, 149, 1) 90%);
}

.home .element-ZAKY-terms-of {
    margin-top: 22.6px;
    width: 374px;
    height: 36px;
    margin-left: 773.1px;
    transform: rotate(0.48deg);
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.home .span {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
}
